@model juriAplicacao.Models.Requisitos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Requisitos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRequisitos" />
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PontuacaoMaxima" class="control-label"></label>
                <input asp-for="PontuacaoMaxima" class="form-control" />
                <span asp-validation-for="PontuacaoMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PontuacaoMinimo" class="control-label"></label>
                <input asp-for="PontuacaoMinimo" class="form-control" />
                <span asp-validation-for="PontuacaoMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAvalicao" class="control-label"></label>
                <select asp-for="TipoAvalicao" class="form-control"></select>
                <span asp-validation-for="TipoAvalicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConcurso" class="control-label"></label>
                <select asp-for="IdConcurso" class="form-control" asp-items="ViewBag.IdConcurso"></select>
                <span asp-validation-for="IdConcurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
